

#top {
    /*position: relative;*/
    //background-color: #036fab;
   // color: white;
    /*padding: 5px;*/
    margin: 0px 0px 10px 0px;
}

/*#top h1 {
    text-align: center;
}*/

#bottom {
    /*position: relative;*/
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    /*float: left;*/
    display: inline-block;
    font-size: .9em;
    //background-color: #ece3a5;
    /*padding: 5px;*/
    width: 19%;
    height: 100%;
}

#content {
    display: inline-block;
    font-size: .9em;
    //width: 78%;
    width: 100%;
    vertical-align: top;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    /*padding: 5px;*/
    font-size: .8em;
}

.left_content {
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*font-size: .8em;*/
    /*background-color: #dddddd;*/
    /*width: 83%;*/   
    /*padding: 5px;*/
    /*margin-left: 170px;*/
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

/*#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}*/


